@{
    ViewData["Title"] = "Masa Siparişleri";
}
<div class="main-content">
    <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
            <a href="#">
                <div style="background:black;color:white;" class="avatar avatar-image avatar-lg">
                    <i class="anticon anticon-double-left"></i>
                </div>
            </a>
            <div class="media-body m-l-15">
                <h4 class="m-b-0">Masa No : 1</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="card-view">
            <div class="orders-actual row"></div>
        </div>
    </div>
</div>
<div class="modal modal-right fade" id="side-modal-right">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4">Hesabı Kapat</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="side-modal-wrapper">
                <div class="vertical-align">
                    <div class="table-cell">
                        <div class="modal-body">
                            <div class="alert alert-warning">
                                <div class="d-flex justify-content-start">
                                    <span class="alert-icon m-r-20 font-size-30">
                                        <i class="anticon anticon-exclamation-circle"></i>
                                    </span>
                                    <div>
                                        <h5 class="alert-heading">Dikkat</h5>
                                        <p>
                                            Eğer Kullanıcı başka bir sipariş vermeyecekse bu işlemi gerçekleştirin. Aksi takdirde
                                            bu işlemin geriye dönüşü yoktur.
                                        </p>
                                    </div>

                                </div>

                            </div>
                            <div style="background:gainsboro;" class="card">
                                <div class="card-body">
                                    <h3 style="text-align:center; font-weight:700;">Ümit Çubukçuoğlu</h3>
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">Toplam</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="productName" placeholder="Product Name" value="₺ 35,50 ">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">Puanı</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="productName" placeholder="Product Name" value="₺ 15 ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="background:gainsboro;" class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">Puan Kullanımı</label>
                                            <div class="col-sm-8">
                                                <select class="custom-select" id="productCategory">
                                                    <option value="1">0 ₺</option>
                                                    <option value="2">5 ₺</option>
                                                    <option value="3" selected="">10 ₺</option>
                                                    <option value="4">15 ₺</option>
                                                    <option value="5">20 ₺</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">Ödeme Tipi</label>
                                            <div class="col-sm-8">
                                                <select class="custom-select" id="productStatus">
                                                    <option value="1" selected="">Nakit</option>
                                                    <option value="2">Kredi Kartı</option>
                                                    <option value="3">Sodexo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">Bahşiş</label>
                                            <div class="col-sm-8">
                                                <select class="custom-select" id="productCategory">
                                                    <option value="1" selected="">0 ₺</option>
                                                    <option value="2">5 ₺</option>
                                                    <option value="3">10 ₺</option>
                                                    <option value="4">15 ₺</option>
                                                    <option value="5">20 ₺</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="m-l-15">
                                            <span class="m-b-0 tyte">
                                                Toplam : <span class="byte">₺ 5,25</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div style="float:left;" class="col-md-6">

                                        <select class="custom-select" id="productStatus">
                                            <option value="1" selected="">Durum Seçin</option>
                                            <option value="2">Ödendi</option>
                                            <option value="3">Ödenmedi</option>
                                            <option value="3">Bizden VİP</option>
                                        </select>
                                    </div>
                                    <div style="float:right;" class="col-md-6">
                                        <button class="btn btn-primary">Kapat</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="template-orders-actual" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="media">
                        <div class="avatar avatar-image rounded">
                            <img src="https://walldeco.id/themes/walldeco/assets/images/avatar-default.jpg" alt="Umit Cubukcuoglu">
                        </div>
                        <div class="m-l-10">
                            <h5 class="m-b-0">{{name}} {{surname}}</h5>
                            <span class="text-muted font-size-13">{{createdDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="badge badge-pill badge-red">Hesap : {{totalPrice}} TL</span>
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="m-b-0 text-dark font-weight-semibold">Hesap İsteği</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="m-b-0 text-dark font-weight-semibold">Var</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-xl-{{id}}">Siparişleri Görüntüle</button>
                    <button data-toggle="modal" data-target="#side-modal-right" class="btn btn-primary">Hesabı Al</button>
                </div>
                <div class="modal fade" id="bd-example-modal-xl-{{id}}">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title h4">{{name}} {{surname}} Siparişleri</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="anticon anticon-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media align-items-center">
                                                    <div class="m-l-15">
                                                        <span class="m-b-0 tyte">
                                                            Genel Toplam : <span class="byte">₺ {{totalPrice}}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media align-items-center">
                                                    <div class="m-l-15">
                                                        <span class="m-b-0 tyte">
                                                            Hesap İsteği : <span class="byte"> Var</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {{#each orders}}
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="alert alert-primary ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="alert-icon m-r-20 font-size-30">
                                                            <i class="anticon anticon-info-circle"></i>
                                                        </span>
                                                        <div>
                                                            <h5 class="alert-heading">Durumu : {{orderStatus}}</h5>
                                                            <p>Sipariş Numarası : {{code}} </p>
                                                            <p>Onaylayan Garson : {{name}} {{surname}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive m-t-30">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Ürün Adı</th>
                                                                <th>Seçenekler</th>
                                                                <th>Adet</th>
                                                                <th>Fiyat</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each orderDetails}}
                                                            <tr>
                                                                <td width="25%">
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="avatar avatar-image" style="min-width: 40px">
                                                                            <img src="{{photo}}">
                                                                        </div>
                                                                        <span class="m-l-10">{{name}}</span>
                                                                    </div>
                                                                </td>
                                                                <td width="45%">
                                                                    <span>{{optionItem}}</span>
                                                                </td>
                                                                <td width="15%">{{quantity}}</td>
                                                                <td width="15%">₺ {{price}} </td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                    <div style="float:right;" class="alert alert-success d-flex justify-content-start">
                                                        <h2 class="m-b-0">Toplam :  ₺ {{totalPrice}}</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
@section Styles {
    <style>



        .statustrue {
            background-color: green;
        }

        .statustruewhite {
            color: white;
        }

        .statusfalse {
            background-color: red;
        }

        .orderpaymentstatus {
            animation: blinker 0.9s linear infinite;
            color: white;
        }

        @@keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .card-body {
            border-radius: 13px !important;
            padding: 0.55rem;
        }

        .card {
            border-radius: 15px !important;
            border: 1px solid #c3c3c3 !important;
        }

        .card-title {
            background-color: black;
        }

        .alert {
            padding: 5px !important;
            border-radius: 15px;
        }

        .accordion > .card > .card-header > .card-title > a {
            font-weight: 900;
            background-color: maroon;
            color: white;
            height: 100px;
            margin-top: 15px;
        }

        .page-container {
            padding-left: 0px !important;
        }


        @@media only screen and (max-width: 2000px) and (min-width: 400px) {
            .m-l-15 {
                margin-left: 0px !important;
                width: 100% !important;
            }
        }

        @@media only screen and (max-width:399px) and (min-width: 150px) {
            .m-l-15 {
                margin-left: 0px !important;
                width: 84% !important;
            }
        }

        @@media only screen and (max-width:2000px) and (min-width: 600px) {
            ul#myTabVertical {
                width: 21% !important;
            }
        }

        @@media only screen and (max-width:599px) and (min-width: 150px) {
            ul#myTabVertical {
                display: -webkit-inline-box !important;
            }
        }


        @@media only screen and (max-width: 600px) {
            .d-flex {
                display: grid !important;
            }
        }

        @@media only screen and (max-width: 600px) {
            li.nav-item {
                width: 70% !important;
            }
        }

        @@media (max-width:1350px) and (min-width: 102px) {
            .col-lg-6 {
                flex: 100%;
                max-width: 100% !important;
            }
        }

        .nav-tabs.flex-column > li > a.active.nav-link {
            border-bottom: 0px;
            border-radius: 30px;
            border-right: 18px solid #ff0e0e;
            background: #00a50d;
            color: white;
        }

        .nav-tabs.flex-column {
            border-right: 24px solid #ffffff;
            border-bottom: 0px;
        }

        .btn-icon.btn-sm {
            font-size: 19px;
            color: white;
            background: red;
        }

        .byte {
            font-size: 25px;
            font-weight: 800;
            color: green;
            float: right;
            margin-right: 25px;
        }

        .tyte {
            font-size: 25px;
            font-weight: 800;
            color: red;
            margin-left: 24px;
        }

        .badge-red {
            color: #ff1500;
            background: rgba(222,68,54,0.05);
            border-color: transparent;
            font-weight: 900;
            font-size: 15px;
        }

        .form-control[disabled] {
            cursor: not-allowed;
            background-color: #ededed;
            background: #dcdcdc;
            color: black;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
    </style>
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.js"></script>
    <script src="~/assets/js/table.js" asp-append-version="true"></script>
}