@{
    Layout = "";
}

@model IndexViewModel

<!DOCTYPE html>

<html>

<head>
    <title>Oturum Aç</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Home" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="Username">Kullanıcı Adı</label>
        <input asp-for="Username" type="text" autocomplete="off" />
        <span asp-validation-for="Username"></span>

        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
        <input type="submit" value="Giriş Yap" />
    </form>
    Copyright © @DateTime.Now.Year Bimenu.com
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>