@{
    ViewData["Title"] = "Dashboard";
}
<div class="main-content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <a href="/table/old">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="m-b-0">Geçmiş</p>
                                        <h2 class="m-b-0">
                                            <span>Siparişler</span>
                                        </h2>
                                    </div>
                                    <div class="avatar avatar-icon avatar-lg avatar-red">
                                        <i class="anticon anticon-profile"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="m-b-0">Muhasebe</p>
                                    <h2 class="m-b-0">
                                        <span>Raporlar</span>
                                    </h2>
                                </div>
                                <div class="avatar avatar-icon avatar-lg avatar-cyan">
                                    <i class="anticon anticon-bar-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tables" class="row"></div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div style="height:100% !important;" class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Kasa Durum :</h5>
                        <div>
                            <a href="#" class="btn btn-default btn-sm statustruewhite statustrue">Online</a>
                        </div>
                    </div>

                    <div class="table-responsive m-t-30">
                        <table id="waiters" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Garson Adı</th>
                                    <th>Durumu </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="template-tables" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3">
        <a href="/table/{{id}}/orders">
            <div class="card ">
                <div class="card-body {{#ifEquals tableStatus "Kapalı"}}statusfalse{{/ifEquals}} {{#ifEquals tableStatus "Açık"}}statustrue{{/ifEquals}}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="m-b-0 text statustruewhite">{{name}}</h2>
                        </div>
                        <span class="badge badge-pill badge-gold font-size-12">
                            <span class="font-weight-semibold m-l-5 statustruewhite">{{#ifEquals tableStatus "Kapalı"}}Kapalı{{/ifEquals}} {{#ifEquals tableStatus "Açık"}}Açık{{/ifEquals}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</script>
<script id="template-waiters" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <div class="d-flex align-items-center">
                <div class="avatar avatar-image" style="min-width: 40px">
                    <img src="https://cdn2.iconfinder.com/data/icons/food-and-drink-49/100/Waiter-01-512.png" alt="">
                </div>
                <span class="m-l-10">{{name}} {{surname}}</span>
            </div>
        </td>
        <td>
            <span class="badge badge-pill badge-cyan font-size-12">Aktif</span>
        </td>
    </tr>
    {{/each}}
</script>
@section Styles {
    <style>
        .page-container {
            padding-left: 0px !important;
        }

        .statustrue {
            background-color: green;
        }

        .statustruewhite {
            color: white;
        }

        .statusfalse {
            background-color: red;
        }

        .orderpaymentstatus {
            animation: blinker 0.9s linear infinite;
            color: white;
        }

        @@keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .card-body {
            border-radius: 33px !important;
            height: 120px !important;
        }

        .card {
            border-radius: 35px !important;
            border: 2px solid #bbb61d !important;
        }

        .alert {
            padding: 0px !important;
        }
    </style>
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.js"></script>
    <script src="~/assets/js/default.js" asp-append-version="true"></script>
}