@{
    ViewData["Title"] = "Dashboard";
}
<div class="main-content">
    <div class="row">
        <div class="col-lg-9">
            <div id="tables" class="row"></div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div style="height:100% !important;" class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Kasa Durum :</h5>
                        <div>
                            <a href="#" class="btn btn-default btn-sm statustruewhite statustrue">Online</a>
                        </div>
                    </div>

                    <div class="table-responsive m-t-30">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Garson Adı</th>
                                    <th>Durumu </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-4.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Mehmet Yaman</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-cyan font-size-12">Aktif</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-1.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Nilgün Çağlayan</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-red font-size-12">Mola</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-6.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Ahmet Çağlayan</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-black font-size-12">Kapalı</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-6.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Ahmet Çağlayan</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-black font-size-12">Kapalı</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-6.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Ahmet Çağlayan</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-black font-size-12">Kapalı</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image" style="min-width: 40px">
                                                <img src="~/assets/images/avatars/thumb-6.jpg" alt="">
                                            </div>
                                            <span class="m-l-10">Ahmet Çağlayan</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-black font-size-12">Kapalı</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="template-tables" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3">
        <a href="/home/asd">
            <div class="card ">
                <div class="card-body {{#ifEquals tableStatus "Kapalı"}}statusfalse{{/ifEquals}} {{#ifEquals tableStatus "Açık"}}statustrue{{/ifEquals}}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="m-b-0 text statustruewhite">{{name}}</h2>
                        </div>
                        <span class="badge badge-pill badge-gold font-size-12">
                            <span class="font-weight-semibold m-l-5 statustruewhite">{{#ifEquals tableStatus "Kapalı"}}Kapalı{{/ifEquals}} {{#ifEquals tableStatus "Açık"}}Açık{{/ifEquals}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{else}}
    <div class="col-md-3">Empty</div>
    {{/each}}
</script>
@section Styles {
    <style>
        .page-container {
            padding-left: 0px !important;
        }

        .statustrue {
            background-color: green;
        }

        .statustruewhite {
            color: white;
        }

        .statusfalse {
            background-color: red;
        }

        .orderpaymentstatus {
            animation: blinker 0.9s linear infinite;
            color: white;
        }

        @@keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .card-body {
            border-radius: 33px !important;
            height: 120px !important;
        }

        .card {
            border-radius: 35px !important;
            border: 2px solid #bbb61d !important;
        }

        .alert {
            padding: 0px !important;
        }
    </style>
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.js"></script>
    <script src="~/assets/js/default.js" asp-append-version="true"></script>
}