@model Menu.Business.Models.CategoryViewModels.EditViewModel

@{
    ViewData["Title"] = "Kategori Düzenle";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Category" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="font-weight-semibold">Kategori Adı</label>
                            <div class="input-affix">
                                <input asp-for="Name" type="text" class="form-control" autocomplete="off" placeholder="Kategori Adı" />
                            </div>
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-between">
                                <input type="submit" value="Kategori Düzenle" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <style>

        .field-validation-error {
            color: #e80c4d;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #e80c4d;
        }

        .validation-summary-errors {
            color: #e80c4d;
            font-size: 1.1em;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
}