@model IEnumerable<Menu.Business.Models.CategoryViewModels.IndexViewModel>
@{
    ViewData["Title"] = "Kategoriler";
}


<div class="main-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <a href="/home/deadly">
                        <div class="card ">
                            <div class="card-body statustrue">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="m-b-0 text statustruewhite">Kategori Ekle</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="">
                        <div class="card ">
                            <div class="card-body statustrue">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="m-b-0 text statustruewhite">Kategoriler</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul id="sortable" class="list-group">
                                @foreach (var item in Model)
                                {
                                <li id="ids_@item.Id" class="list-group-item">
                                    @item.Name
                                    <a style="float:right" class="btn btn-primary btn-sm m-r-5"
                                       asp-controller="Category"
                                       asp-action="Edit"
                                       asp-route-id="@item.Id">Düzenle</a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>let host = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
        $(document).ready(function () {
            $("#sortable").sortable({
                stop: function (event, ui) {
                    var ids = $(this).sortable('serialize').split("&ids[]=").join(",").substr(6);
                    console.log(ids)
                    $.post(host + "/category/order?ids=" + ids,
                        function (data, status) {
                            console.log(id + "-" + order);
                        });
                }
            });
            $("#sortable").disableSelection();
        });</script>

}