@{
    ViewData["Title"] = "Dashboard";
}
<div class="main-content">
    <div class="page-header no-gutters">
        <div class="row align-items-md-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input type="text" class="form-control" placeholder="Search Project">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-md-right m-v-10">
                    <div class="btn-group m-r-10">
                        <button id="list-view-btn" type="button" class="btn btn-default btn-icon" data-toggle="tooltip" data-placement="bottom" title="List View">
                            <i class="anticon anticon-ordered-list"></i>
                        </button>
                        <button id="card-view-btn" type="button" class="btn btn-default btn-icon active" data-toggle="tooltip" data-placement="bottom" title="Card View">
                            <i class="anticon anticon-appstore"></i>
                        </button>
                    </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-project">
                        <i class="anticon anticon-plus"></i>
                        <span class="m-l-5">New Project</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="card-view">
            <div id="orders" class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-1.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Mind Cog App</h5>
                                        <span class="text-muted font-size-13">31 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">European minnow priapumfish mosshead warbonnet shrimpfish.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">100%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-cyan">Ready</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Mill Real Estate</h5>
                                        <span class="text-muted font-size-13">56 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Efficiently unleash cross-media information without cross-media value.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">100%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-cyan">Ready</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                            <div class="avatar avatar-text avatar-sm">
                                                <span class="text-dark">+2</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-3.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Eastern Sack</h5>
                                        <span class="text-muted font-size-13">21 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Jelly-o sesame snaps halvah croissant oat cake cookie.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">87%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar" role="progressbar" style="width: 87%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-blue">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-11.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                            <div class="avatar avatar-text avatar-sm">
                                                <span class="text-dark">+3</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-4.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Good Beat</h5>
                                        <span class="text-muted font-size-13">38 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Irish skinny, grinder affogato, dark, sweet carajillo flavour seasonal.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">73%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-blue">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Marshall Nichols">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-5.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Fortier Studio</h5>
                                        <span class="text-muted font-size-13">68 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Let us wax poetic about the beauty of the cheeseburger.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">73%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-blue">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-6.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Indi Wheel Web</h5>
                                        <span class="text-muted font-size-13">68 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Here's the story of a man named Brady who was busy with three boys</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">62%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-blue">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                            <div class="avatar avatar-text avatar-sm">
                                                <span class="text-dark">+2</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-7.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Austin Lab</h5>
                                        <span class="text-muted font-size-13">90 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Caerphilly swiss fromage frais. Brie cheese and wine fromage.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Progress</span>
                                    <span class="font-weight-semibold">62%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-blue">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="media">
                                    <div class="avatar avatar-image rounded">
                                        <img src="assets/images/others/thumb-8.jpg" alt="">
                                    </div>
                                    <div class="m-l-10">
                                        <h5 class="m-b-0">Moody Agency</h5>
                                        <span class="text-muted font-size-13">165 Tasks</span>
                                    </div>
                                </div>
                                <div class="dropdown dropdown-animated scale-left">
                                    <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                        <i class="anticon anticon-ellipsis"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-eye"></i>
                                            <span class="m-l-10">View</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-edit"></i>
                                            <span class="m-l-10">Edit</span>
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="anticon anticon-delete"></i>
                                            <span class="m-l-10">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-25">Do you see any Teletubbies in here? The path of the righteous.</p>
                            <div class="m-t-30">
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-semibold">Behind</span>
                                    <span class="font-weight-semibold">28%</span>
                                </div>
                                <div class="progress progress-sm m-t-10">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 28%"></div>
                                </div>
                            </div>
                            <div class="m-t-20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="badge badge-pill badge-red">In Progress</span>
                                    </div>
                                    <div>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                            <div class="avatar avatar-image avatar-sm">
                                                <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                            </div>
                                        </a>
                                        <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                            <div class="avatar avatar-text avatar-sm">
                                                <span class="text-dark">+3</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card d-none" id="list-view">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Tasks</th>
                                <th>Members</th>
                                <th>Progress</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-1.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Mind Cog App</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>31 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            <i class="anticon anticon-check-o text-success"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-2.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Mill Real Estate</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>56 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                                <div class="avatar avatar-text avatar-sm">
                                                    <span class="text-dark">+2</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            <i class="anticon anticon-check-o text-success"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-3.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Eastern Sack</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>21 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-11.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                                <div class="avatar avatar-text avatar-sm">
                                                    <span class="text-dark">+3</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar" role="progressbar" style="width: 87%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            87%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-4.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Good Beat</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>38 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Marshall Nichols">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Pamela Wanda">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            73%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-5.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Fortier Studio</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>68 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Erin Gonzales">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar" role="progressbar" style="width: 73%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            73%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-6.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Indi Wheel Web</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>68 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Virgil Gonzales">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="2 More">
                                                <div class="avatar avatar-text avatar-sm">
                                                    <span class="text-dark">+2</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            62%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-7.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Austin Lab</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>90 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Victor Terry">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar" role="progressbar" style="width: 62%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            62%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-image rounded">
                                            <img src="assets/images/others/thumb-8.jpg" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <h5 class="m-b-0">Moody Agency</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>165 Tasks</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Lilian Stone">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="Darryl Day">
                                                <div class="avatar avatar-image avatar-sm">
                                                    <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                                </div>
                                            </a>
                                            <a class="m-r-5" href="javascript:void(0);" data-toggle="tooltip" title="3 More">
                                                <div class="avatar avatar-text avatar-sm">
                                                    <span class="text-dark">+3</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm w-100 m-b-0">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 28%"></div>
                                        </div>
                                        <div class="m-l-10">
                                            <i class="anticon anticon-close-o text-danger"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-animated scale-left">
                                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                            <i class="anticon anticon-ellipsis"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                            <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="create-new-project">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Project</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="new-project-name">Project</label>
                            <input type="text" class="form-control" id="new-project-name" placeholder="Please input project name">
                        </div>
                        <div class="form-group">
                            <label for="new-project-desc">Description</label>
                            <textarea id="new-project-desc" class="form-control" placeholder=""></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Create Project</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="media">
                        <div class="avatar avatar-image rounded">
                            <img src="{{user.photo}}" alt="{{user.name}} {{user.surname}}">
                        </div>
                        <div class="m-l-10">
                            <h5 class="m-b-0">{{user.name}} {{user.surname}}</h5>
                            <span class="text-muted font-size-13">{{createdDate}}</span>
                        </div>
                    </div>
                    <div class="dropdown dropdown-animated scale-left">
                        <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                            <i class="anticon anticon-ellipsis"></i>
                        </a>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                                <i class="anticon anticon-eye"></i>
                                <span class="m-l-10">View</span>
                            </button>
                            <button class="dropdown-item" type="button">
                                <i class="anticon anticon-edit"></i>
                                <span class="m-l-10">Edit</span>
                            </button>
                            <button class="dropdown-item" type="button">
                                <i class="anticon anticon-delete"></i>
                                <span class="m-l-10">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="m-t-25">{{description}}</p>
                <div class="m-t-30">
                    <div class="d-flex justify-content-between">
                        <span class="font-weight-semibold">Sipariş Durumu</span>
                    </div>
                    <div class="progress progress-sm m-t-10">
                        <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="badge badge-pill badge-blue">{{orderStatus}}</span>
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="m-b-0 text-dark font-weight-semibold">{{waiter.name}} {{waiter.surname}}</div>
                                    <div class="m-b-0 opacity-07 font-size-13">{{table.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="m-b-0 text-dark font-weight-semibold">Sipariş Kodu</div>
                                    <div class="m-b-0 opacity-07 font-size-13">{{code}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.js"></script>
<script>$(document).ready(function () {
        $.get("https://localhost:5003/orders", function (data) {
            console.log(data)
            var template = $("#template").html();
            var compiledCode = Handlebars.compile(template);
            var result = compiledCode(data);
            $("#orders").html(result);
        });
    });</script>

@section Styles {
    <style>


        .page-container {
            padding-left: 0px !important;
        }
    </style>
}